* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.Contenedor {
    display: flex;
}

.Linea_Titulos {
    margin-left: 20%;
    width: 60%;
    height: 7px;
    background-color: #17202a;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Linea_Titulos_Abajo{
    margin-top: 8px;
}

.Linea_Subtitulos {
    height: 4px;
}